{% extends "base.html" %}

{% block title %}
    Registration
{% endblock %}

{% block heading %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h3>Registration</h3>
    </div>
</div>

{% endblock %}
{% block content %}

<div class="col-md-3 col-md-offset-2">
    <form method="post" action="">
    {% csrf_token %}
        <table class="table">  
            {% for field in form %}     
                <tr>
                    <td>{{ field.errors }} </td>
                    <td>{{ field.label_tag }} </td>
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
        </table>
        <input class="btn btn-primary" type="submit" value="Submit" />
        <a class="btn btn-primary" href="{% url 'login' %}">Cancel</a>

        <input type="hidden" name="next" value="{{ next }}" />
    </form>
</div>

{% endblock %}
